# Virtual environment
venv/
env/

# Python bytecode
__pycache__/

# Ignore environment configuration files
.env

# Database
db.sqlite3

# Media files
media/

# Static files
staticfiles/

# Ignore secret key
*.key

# Ignore VSCode settings
.vscode/

# Ignore compiled Python files
*.pyc
*.pyo
*.pyd

# Ignore Django migrations
**/migrations/

# Ignore local development settings
local_settings.py
